html,body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'TradeGothicLT';
    color: white;
    font-weight: 600;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
::-webkit-scrollbar { 
    display: none; 
}
.element::-webkit-scrollbar { width: 0 !important }
.element { overflow: -moz-scrollbars-none; }
@font-face{
    font-family: 'TradeGothicLT';
    src: url('fonts/TradeGothicLT.ttf');
}
@font-face{
    font-family: 'TradeGothicLTBold';
    src: url('fonts/TradeGothicLTBold.ttf');
}
.wraper{
    height: 100vh;
    width: 100vw;
    background: url("Web/Assets/Compressed.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
}
@media all and (min-width: 1024px){
    .bitsian, .non_bitsian{
        margin-left: 5vw;
    }
    .name1{
        width: 20vw;
        align-items: center;
    }
    .bitsian div .field .name :nth-child(n), .bitsian div .field .name1 :nth-child(n){
        margin-top: -3vh;
    }
    .bitsian div .field .name1 :nth-child(n){
        margin-left: 2vw;
    }
    .name1 :nth-child(n){
        display: flex;
        height: 27px;
        margin: 0;
        margin-bottom: 24px;
    }
    .name2 :nth-child(n){
        margin-bottom: 20px;
    }
    .name :nth-child(n){
        margin-top: 15px;
        display: flex;
        margin: 0;
        margin-bottom: 20px;
        height: 27px;
    }
    select{
        margin-top: 0;
    }
}
.members, .thanks{
    display: none;
    opacity: 0;
}
.thanks p{
    text-align: center;
}
.gradient {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(#ff870e 0%, #c6682d 100%);
    z-index: 0;
}
.field{
    display: flex;
}
.nav{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    z-index: 20;
}
select{
    padding: 5px;
    height: 30px;
    font-family: 'TradeGothicLT', sans-serif;
    background-color: white;
    margin-top: -2vh;
}
#submit{
    padding: 5px;
    height: 30px;
    width: 90px;
    background-color: white;
    margin-left: 10vw;
}
.logo{
    width: 256px;
    height: 44px;
    background: url("Web/PNG/apogeelogo\(1\).png");
    background-size: cover;
    margin: 3.5vh 5vh;
    z-index: 10;
}
.links{
    margin: 5vh 2vw;
    font-family: 'TradeGothicLT', sans-serif;
    font-size: 1.4rem;
    display: flex;
    font-weight: 550;
    flex-wrap: nowrap;
    z-index: 60;
    transition: 0.5s;
}
.nav-links{
    text-decoration: none;
    height: 25px;
    line-height: 25px;
    color: white;
    padding: 5px 0;
    margin: 0 2vw;
}
.center{
    display: flex;
    width: 40vw;
    justify-content: center;
}
.links :nth-child(6){
    color: white;
    border-radius: 22px / 20px;
    border: 3px solid;
    border-color: white;
    padding: 4px 15px;
}
.submit{
    color: white;
    border-radius: 22px / 20px;
    border: 3px solid;
    width: 7vw;
    text-align: center;
    border-color: white;
    padding: 3px 15px;
    cursor: pointer;
}
.buttons{
    width: 41vw;
    justify-content: flex-end;
    display: flex;
    height: 3.8vh;
}
.button{
    color: white;
    border-radius: 22px / 20px;
    border: 3px solid;
    width: 9vw;
    float: left;
    height: 1.4vw;
    font-size: 1.2vw;
    text-align: center;
    border-color: white;
    padding: 5px 15px;
    margin-right: 1vw;
    cursor: pointer;
}
.registerbutton{
    color: white;
    border-radius: 22px / 20px;
    border: 3px solid;
    width: 7vw;
    float: left;
    height: 1.8vw;
    font-size: 1.4vw;
    text-align: center;
    border-color: white;
    padding: 5px 15px;
    margin-right: 1vw;
    cursor: pointer;
}
.home {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    margin-top: 6vh;
    top: 0;
    color: white;
}
.home h1{
    font-size: 10vh;
    letter-spacing: 6vw;
    text-align: right;
    width: 90vw;
    font-family: Teko-Regular, Teko;
    font-weight: 100;
    margin-left: 5vw;
    z-index: 7;
}
.rules p a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.7vh;
}
.problem{
    position: absolute;
    bottom: 10vh;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-family: 'TradeGothicLTBold', TradeGothicLT;
    font-size: 1.4rem;
    overflow: hidden;
}
#regist{
    display: none;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}
#regist a{
    text-decoration: none;
    color: white;
}
.rules h3, .games h3, .about h3, .contacts h3, .register h3 {
    font-size: 7vh;
    width: 41vw;
    height: 10vh;
    text-align: right;
    font-family: 'TradeGothicLTBold';
    color: white;
    font-weight: 600;
    margin-top: 3vh;
}
.rules a {
    color: white;
}
h2{
    margin-top: 1vh;
}
.gameinfo{
    display: flex;
    flex-direction: column;
}
.name{
    display: flex;
    align-items: center;
    margin-left: 5vw;
    width: 30vw;
    justify-content: space-between;
}
.field{
    display: flex;
    /* flex-direction: column; */
}
.container {
    width: 58vw;
    height: 100vh;
    position: absolute;
    right: -10vw;
    transform: skewX(-15deg);
    background-color: rgba(255,151,14,0.69);
    opacity: 0.7;
}
.rules, .games, .about, .contacts, .register {
    opacity: 0;
    width: 41vw;
    position: absolute;
    right: 0vw;
    margin: 30vh 5vw;
    color: white;
    z-index: 7;
    text-align: right;
    height: 70vh;
}
.register {
    overflow-y: auto;
    overflow-x: hidden;
    height: 60vh;
}
form{
    width: 35vw;
    text-align: left;
    padding: 0;
    /* margin-left: 5vw; */
}
#max{
    font-size: 2vw;
    width: 41vw;
    text-align: center;
}
.about {
    opacity: 1;
}
.register h3{
    margin-bottom: 1vh;
}
.members h2{
    font-size: 1.5vw;
}
input{
    /* height: 2vh; */
    font-family: 'TradeGothicLT', sans-serif;
}
.games p, .about p, .rules p, .register form {
    font-size: 3vh;
    font-family: 'TradeGothicLT', sans-serif;
    color: #ffffff;
}
.games p, .contacts p{
    font-size: 2.8vh;
    font-weight: 600;
    margin-top: 14vh;
}
.games p span, .contacts p{
    font-size: 4vh;
    font-weight: bold;
}
.games p span a{
    color: white;
    text-decoration: none;
}
.contacts > p > a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.contacts > p {
    font-size: 3.4vh;
    font-family: 'TradeGothicLT';
    color: white;
    text-align: right;
    /* margin-top: -2vh; */
}
h4 {
    font-size: 2vh;
    font-family: 'TradeGothicLT';
    color: white;
    font-weight: 500;
    margin: 0;
}
h5 {
    font-size: 3.5vh;
    text-align: center;
    font-family: Bahnschrift;
    color: #ff870e;
    font-weight: 500;
    margin: 3vh;
}
.hamburger{
    display: none;
}
.cross {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
}

@media all and (max-width: 1000px){
    .problem {
        font-size: 1.1rem;
    }
    .links {
        font-size: 1.3rem;
    }
    .home h1 {
        font-size: 10vh;
    }
    h3 {
        font-size: 7vh;
    }
    .games p, .about p, .rules p, .register form{
        font-size: 2.5vh;
        padding: 0;
    }
    .contacts > p {
        font-size: 2.8vh;
    }
}


@media all and (max-width: 850px){
    .problem {
        font-size: 1rem;
    }
    .links {
        font-size: 1.1rem;
    }
    .logo{
        width: 130px;
        height: 24px;
    }
    .home h1 {
        font-size: 9vh;
    }
    h3 {
        font-size: 6vh;
    }
    .rules p, .games p, .about p, .register form {
        font-size: 1.8vh;
        padding: 0;
    }
    .contacts > p {
        font-size: 2.3vh;
    }
}


@media all and (max-width: 1024px) and (orientation : portrait){
    .wraper{
        background: url('Mobile/Assets/Compressed.jpg');
        background-size: cover;
    }
    .home{
        width: 100vw;
        height: 70vh;
        margin: 18vh 0vw;
        display: flex;
        z-index: 7;
    }
    .nav {
        justify-content: flex-end;
        z-index: 9;
    }
    .home h1{
        margin: 0;
        width: 80vw;
        font-size: 12vw;
        letter-spacing: 3vw;
        padding: 0 12vw;
        text-align: center;
    }
    .games span a{
        color: white;
        margin-left: -2vw;
        text-decoration: none;
    }
    .members h2{
        margin-left: 6vw;
        font-size: 4.5vw;
        margin-bottom: 1vh;
    }
    #max{
        font-size: 5vw;
        width: 80vw;
        margin-left: 0;
        margin-bottom: 2vh;
    }
    .name1 :nth-child(n) {
        margin-bottom: 26px;
        font-size: 13px;
        padding-left: 4vw;
        /* margin-bottom: 26px; */
        /* font-size: 16px; */
        display: flex;
        height: 27px;
        /* padding-left: 4vw; */
        /* align-items: center; */
        justify-content: center;
    }
    .name :nth-child(n) {
        margin-top: 15px;
        display: flex;
        margin: 0;
        margin-bottom: 30px;
        height: 19px;
    }
    #inp{
        margin-bottom: 27px;
        height: 15px;
    }
    .name2 :nth-child(n) {
        margin-bottom: 24px;
        height: 18px;
    }
    #regist{
        display: inline;
        width: 40vw;
        margin-bottom: 4vh;
        color: white;
        font-size: 4vw;
        padding: 1.5vh 1.5vw;
        border: 2px solid white;
        border-radius: 50px / 45px;
        z-index: 8;
    }
    .name1{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 37vw;
    }
    .bitsian div .field .name :nth-child(n), .bitsian div .field .name1 :nth-child(n){
        margin-top: -3vh;
        margin-right: -6vw;
    }
    .name1 :nth-child(n)
    {
        margin-bottom: 26px;
        font-size: 14px;
        font-weight: 600;
        padding-left: 4vw;
    }
    .name{
        display: flex;
        width: 67vw;
        /* margin-left: 3vw; */
        flex-direction: row;
        /* padding-left: 5vw; */
        justify-content: space-between;
    }
    .center{
        width: 80vw;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    .registerbutton{
        width: 20vw;
        font-size: 3.3vw;
        height: 2.3vh;
    }
    .buttons{
        width: 80vw;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        height: 20vh;
        height: 22.8vh;
    }
    .button{
        color: white;
        border-radius: 22px / 20px;
        border: 3px solid;
        float: left;
        height: 16px;
        text-align: center;
        border-color: white;
        padding: 3px 4px;
        margin-right: 1vw;
        cursor: pointer;
        width: 34vw;
        margin-bottom: 20px;
        font-size: 3.5vw;
    }
    .submit{
        width: 25vw;
        margin-bottom: 4vh;
        color: white;
        font-size: 4vw;
        height: 5vw;
        margin-left: 0;
        padding: 0.5vh 0.5vw;
        border: 2px solid white;
        border-radius: 50px / 45px;
    }
    .problem{
        width: 100vw;
        height: 95vh;
    }
    .logo{
        height: 35px;
        width: 120px;
        margin: 2vh 10vw;
    }
    .hamburger{
        display: block;
        height: 70px;
        width: 20vw;
        margin: 0 3vw;
        transform: scale(0.3);
        background: url("Mobile/Assets/Menu.png") no-repeat;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
    .links{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        margin: 0;
        font-size: 2rem;
        flex-direction: column;
        align-items: center;
        width: 87vw;
        height: 100vh;
        background-color: #ff9000;
        transform: translateX(-100vw);
        transition: 0.4s cubic-bezier(.06,.54,.26,.9);
    }
    .nav-links{
        text-decoration: none;
        height: 25px;
        width: 100%;
        text-align: center;
        line-height: 25px;
        color: #fff;
        padding: 3vh;
    }
    .links :nth-child(2){
        margin-top: 15vh;
    }
    .links :nth-child(6){
        color: white;
        border-radius: 27px / 21px;
        border: none;
        border-color: white;
        padding: 3vh;
    }
    .cross {
        display: block;
        position: absolute;
        top: 25px;
        left: 25px;
    }
    .rules h3, .games h3, .about h3, .register h3{
        font-size: 10vw;
        height: 6vh;
    }
    .rules p, .games p, .about p, .register form {
        padding: 0 3vw;
    }
    .games p span{
        font-size: 5.8vw;
        margin-right: 50vw;
        font-weight: bold;
    }
    .register form{
        padding: 0;
    }
    .container{
        transform: skewX(0);
        width: 80vw;
        height: 75vh;
        right: 0;
        margin: 15vh 10vw 10vh 10vw;
    }
}

@keyframes openReg {
    from {
        transform: translateY(-50%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes openRegContainer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes closeReg {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-50%);
    }
}
@keyframes closeRegContainer {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes openProb {
    from {
        transform: translate(100%);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes closeProb {
    from {
        transform: translate(0);
        opacity: 1;
    }
    to {
        transform: translate(100%);
        opacity: 0;
    }
}

@media all and (max-width:1450px) and (min-width:1024px){
    .rules p, .games p, .about p, .register form {
        font-size: 2.8vh;
        margin-top: 14vh;
    }
    .name1 :nth-child(n){
        margin-bottom: 21px;
        font-size: 1.5vw;
        padding-left: 4vw;    
    }
    .name2 :nth-child(n){
        margin-bottom: 22px;
    }
    .name :nth-child(n){
        margin-top: 15px;
        display: flex;
        margin: 0;
        margin-bottom: 28px;
        height: 27px;
    }
    .contacts p{
        font-size: 3.2vh;
        margin-top: 14vh;
    }
    .links{
        font-size: 1.3rem;
    }
}


@media all and (max-width:1250px){
    .links{
        font-size: 1.1rem;
    }
    .logo{
        width: 224px;
        height: 39px;
        margin: 4vh 5vh;
    }
    .rules p, .games p, .about p, .register form{
        font-size: 2.6vh;
    }
    .contacts p{
        font-size: 3vh;
    }
}

@media all and (max-width: 1000px){
    .logo{
        width: 170px;
        height: 29px;
    }
    .links{
        font-size: 0.9rem;
    }
}

@media all and (max-width: 1024px) and (orientation:portrait){
    .cross{
        height: 20px;
        width: 20px;
    }
    .hamburger{
        display: block;
        height: 70px;
        width: 20vw;
        margin: 0.5vh 3vw;
        background: url("Mobile/Assets/Menu.png") no-repeat;
        cursor: pointer;
    }
    .rules, .games, .about, .contacts, .register {
        width: 80vw;
        padding: 0 5vw;
        margin-top: 27vh;
        text-align: left;
    }
    .contacts h3, .rules h3, .games h3, .about h3, .register h3 {
        width: 80vw;
        text-align: center;
        font-size: 10vw;
        margin-bottom: 2vh;
    }
    .links{
        font-size: 1.6em;
        transition: 0.5s;
        transition-timing-function: cubic-bezier(.06,.54,.26,.9);
    }
    .rules p, .games p, .about p, .contacts p{
        font-size: 2.2vh;
        height: 50vh;
        margin-top: 2.5vh;
        padding: 0 5vw;
        text-align: center;
    }
    .games p{
        padding: 0 10vw;
        text-align: left;
    }
    .rules p{
        text-align: left;
        padding: 0 12vw;
        font-size: 2.5vh;
    }
    form{
        width: 76vw;
        font-size: 1.5vh;
        height: 45vh;
        padding: 0;
        /* margin-left: 5vw; */
    }#submit{
        margin-left: 19vw;
    }
    input{
        width: 30vw;
        margin-bottom: 25px;
    }
    select{
        height: 3vh;
        margin-top: -7px;
        margin-bottom: 23px;
        padding: 0;
    }
    .contacts p{
        margin-top: -2.5vh;
    }
    .contacts p{
        font-size: 3vh;
    }
    .logo{
        margin: 2vh 10vw;
        margin-top: 3.5vh;
    }
}
@keyframes openReg {
    from {
        transform: translateY(-400px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes openRegContainer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes closeReg {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-400px);
        opacity: 0;
    }
}
@keyframes closeRegContainer {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes openProb {
    from {
        transform: translate(100%);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes closeProb {
    from {
        transform: translate(0);
        opacity: 1;
    }
    to {
        transform: translate(100%);
        opacity: 0;
    }
}
@media screen and (max-width: 900px) and (min-width:500px) and (orientation:landscape){
    .home{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        margin-top: 15vh;
        z-index: 7;
    }
    .name1 :nth-child(n){
        display: flex;
        height: 27px;
        margin: 0;
        margin-bottom: 24px;
    }
    .name2 :nth-child(n){
        margin-bottom: 22px;
    }
    .name :nth-child(n){
        margin-top: 15px;
        display: flex;
        margin: 0;
        margin-bottom: 20px;
        height: 27px;
    }
    .nav {
        justify-content: flex-end;
        z-index: 9;
    }
    .problem{
        bottom: 0vh;
    }
    .home h1{
        margin: 0;
        width: 90vw;
        font-size: 2.8rem;
        padding: 0;
        font-size: 6vw;
        text-align: right;
    }
    #regist{
        display: none;
        width: 40vw;
        margin-bottom: 4vh;
        color: white;
        font-size: 4vw;
        font-weight: bold;
        padding: 2vh 2vw;
        text-align: center;
        border: 2px solid white;
        border-radius: 50px / 45px;
    }
    .problem{
        width: 100vw;
        height: 95vh;
    }
    .hamburger{
        display: block;
        height: 68px;
        width: 75px;
        margin: 0 3vw;
        transform: scale(0.3);
        background: url(Mobile/Assets/Menu.png) no-repeat;
        cursor: pointer;
        position: absolute;
        top: -12px;
        left: 0;
        z-index: 10;
    }
    .links{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        margin: 0;
        font-size: 1.3rem;
        flex-direction: column;
        align-items: center;
        width: 40vw;
        height: 100vh;
        background-color: #ff9000;
        transform: translateX(-100vw);
        transition: 0.5s;
        transition-timing-function: cubic-bezier(.06,.54,.26,.9);
    }
    .nav-links{
        text-decoration: none;
        height: 25px;
        line-height: 25px;
        color: #fff;
        font-weight: bold;
        padding: 3vh;
    }
    .links :nth-child(2){
        margin-top: 15vh;
    }
    .cross {
        display: block;
        position: absolute;
        top: 25px;
        left: 25px;
        height: 20px;
        width: 20px;
    }
    .logo{
        height: 29px;
        width: 170px;
        margin: 3vh 5vh;
    }
    .hamburger{
        margin: 0.5vh;
    }
    #regist{
        width: 15vw;
        font-size: 2vw;
    }
    .problem{
        height: 100vh;
    }
    .links :nth-child(2){
        margin-top: 15vh;
    }
    .rules p{
        font-size: 0.6em;
    }
    .links :nth-child(6){
        border: none;
        padding: 3vh;
    }
}

.nav-links:nth-child(4){
    display: none;
}
.rules{
    display: none;
}
